<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
	</head>
	<style>
		.button {
			background-color: #04AA6D; /* Green */
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
		}
	</style>
	<body>
		<script>
			function goSocket() {
				var socket = io();
				socket.on('connect', function() {
					socket.emit('hello', {data: 'I\'m connected!'});
				});
			}
			

		</script>


		
		<button onclick="goSocket();">Sock</button>
	</body>
</html>